.feynman {
    min-height: 890px;
    background-color: #f2f2f2;
    position: relative;
    text-align: center;
    background-image: url(../../images/feynman.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    z-index: 0;
  }
  

  

  
