.khan__book-container {
  
    /* display: flex; */
    margin: 0;
    line-height: 0;
  }
  
  .khan__book-pic {
    /* background-repeat: no-repeat;
    background-size: cover; */
    width: 620px;
    height: 608px;
    margin-right: 48px;
    object-position: top;
    object-fit: cover;
  }